*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

//----------FONTS----------------
@font-face {
    font-family: "SF";
    src: url("./fonts/SF-Pro-Rounded-Regular.otf");
}


//--------------BACKGROUND----------------

#background{
    z-index: -1;
    position:fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #E4E4E4;
  }
  
  @keyframes blobMovement {
    0%{
      transform: translate(0px, 0px) scale(1);
    }
    33%{
      transform: translate(30px, -50px) scale(1.1);
    }
    66%{
      transform: translate(-20px, 20px) scale(0.9);
    }
    100%{
      transform: translate(0px, 0px) scale(1);
    }
  }
  
  .blob{
    position: relative;
    height: 30em;
    width: 30em;
    border-radius: 50%;
    mix-blend-mode: multiply;
    filter: blur(125px);
    
    
  }
  
  .b2{
    background-color: #FF0000;
  
    bottom: 7em;
    animation: blobMovement 7s infinite;
  }
  .b1{
    background-color: #9E00FF;
  
    right: -9em;
    top: 7em;
    animation: blobMovement 7s infinite;
    animation-delay:  2s;
  
  }
  .b3{
    background-color: #FFD600;
  
    left: -9em;
    top: 7em;
    animation: blobMovement 7s infinite;
    animation-delay:  4s;
  
  }

//------------------- HEADER NAME -------------------
.name{
    font-family: 'IBM Plex Mono', monospace;
}

//------------------- BODY -------------------
.body-container {
    margin: 1.5em;
}
.hidden{
    display: none !important;
}
nav{
    box-shadow: 7px 7px 15px rgba($color: #525252, $alpha: .5);

    margin: 1em auto;
    width: 40%;
    background-color: white;
    border-radius: 4em;
    padding: 1px 30px;
    ul{
        margin: 5px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: center;
        list-style: none;
    }
    li{
        font-family: 'IBM Plex Mono', monospace;
        font-weight: bold;
        font-size: 1.5em;
        display: inline;
        padding: .5em;
    }
    #about {
        background-color: rgb(200, 200, 200);
        
        border-radius: 100px;
        box-shadow: 3px px 15px rgba($color: #525252, $alpha: .5);
    }
}



.content{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "w1 w2 w2"
    "w3 w3 w4"
    "w5 w6 w6";
    gap: 1em;
    padding: .5em;
}

.widget{
    display:inline-block;
    display: flex;
    padding: 1em;
    aspect-ratio: 1 /1;
    width: 300px;
    //flex-grow: 1;
    
    height: 250px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 7px 7px 15px rgba($color: #525252, $alpha: .5);
    
}

.w1{
    grid-area: w1;
    padding: 0;
    justify-content: center;
    width: 100%;
    //aspect-ratio: 1 / 1;
    img{
        position: relative;
        height: 100%;
        bottom: 0px;
        margin: 0 auto;
    }

}

.w2{
    grid-area: w2;
    width: 100%;
    //align-content: center;
    //justify-content: center;
    h1{
        font-family: 'IBM Plex Mono', monospace;
        font-size: 4em;
        margin-left: 1em;
        height: fit-content;
        align-self: center;
    }
}

.w3{
    grid-area: w3;
    width: 100%;
    
    font-family: 'SF', sans-serif;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    
    h3, p {
        margin: .5em;
    }
    h3{
        font-size: 1.5em;
    }
    p{
        font-size: 1.1em;
    }
}
//-------------------- PROJECTS WIDGET --------------------
.w5{
    grid-area: w5;
    width: 100%;
    flex-direction: column;
    h3{
        font-family: 'IBM Plex Mono', monospace;
        margin-bottom: 1em;
    }
    img{
        justify-self: center;
        align-self: center;
        height: 80%;
    }
}

.w4{
    grid-area: w4;
    width: 100%;
}

//------------------ SPOTIFY WIDGET -----------------------
.w6 {
    grid-area: w6;
    width: 100%;
    flex-direction: row;
    align-content: space-between;
    
    
    background-color: #000;
    .logo{
        height: 30%;
        img {
            height: 100%;
            width: auto;
        }
    }

    
    
    .artwork-info{
        align-self: center;
        margin-left: 1em;
        display: flex;
        height: 90%;
        flex-direction: row;
        align-content: center;
        padding: .5em;
        
        img{
            height: 100%;
            align-self: center;
            margin-right: 2em;
        }
    }
    .spotify-recent{
        align-self: center;
        display: flex;
        flex-direction: column;
        font-family: 'SF', sans-serif;
        justify-items: space-around;
        height: 80%;

        .recently-played{
            color: white;
            font-size: 1.5em;
            font-weight:400;
        }
        .song-artist{
            align-self: flex-end;
        }
        .playing-song{
            display: flex;
        }
        .song{
            font-family: 'IBM Plex Mono', monospace;
            font-weight: bold;
            font-size: 3em;
            color: #1DCB5B;
            text-decoration: none;
            align-self: center;
            
        }
        //-------------------PLAYING----------------
        .play-animation{
            display: inline-block;
            height: 30px;
            //border: solid red 1px;
            width: 20px;
            align-self: center;
            margin: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .bar1{
                animation: bounce 2.2s ease infinite alternate;
            }
            .bar2{
                animation: bounce 2.2s ease infinite alternate;
                animation-delay: 2s;
            }
            .bar3{
                animation: bounce 2.2s ease infinite alternate;
                animation-delay: 3s;
            }

            .bar{
                align-self: center;
                position: relative;
                top: 4px;
                height: 80%;
                width: 20%;
                border-radius: 30px;
                background-color: #1DCB5B;
                

            }
            

        }
        //PLAYING KEYFRAMES
        @keyframes bounce {
            10% {
                transform: scaleY(0.4);
            }
            30% {
                transform: scaleY(1);
            }
            60% {
                transform: scaleY(0.5);
            }
            80% {
                transform: scaleY(0.75);
            }
            100%{
                transform: scaleY(1);
            }
        }


        .song:hover{
            cursor: pointer;
            opacity: 80%;
        }
        .artist {
            color: white;
            font-size: .9em;
            font-weight:400;

            font-family: 'SF', sans-serif;

        }
    }
}

.w7{
    height: 500px;
}